.wd-profile-nudge-up {
    bottom: -60px;
    left: 25px;
 }
 
.wd-banner {
    width: 104.3%;
    height: 200px;
    object-fit: cover;
    margin-left: -12px;
}

.wd-top-margin {
    margin-top:60px;
}

.wd-bold {
    font-weight: bold;
}

.wd-no-link {
    text-decoration: none;
    color:black;
}

.wd-ft20 {
    font-size: 20px;
}

.wd-ft14 {
    font-size: 14px;
}

.wd-align-left {
    justify-content: start;
}

.wd-border {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(221, 216, 216);
    padding: 12px;
}

.wd-button {
    border-color: rgb(221, 216, 216);
    border-width: 1.5px;
    background-color: white;
    border-style: solid;
    font-weight:600;
    color: black;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.wd-button:hover {
    background-color: rgb(221, 216, 216);
    color: black;
}


.wd-input-group {
    position: relative;
    
}

.wd-input-label {
    position: absolute;
    top: 5px;
    left: 20px;
}

.wd-input-text {
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: rgb(221, 216, 216);
    padding: 30px 5px 5px 5px;
    width:100%;
}
